/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 9.3rem 1rem;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.featureWrapper:nth-child(2n + 1) {
  background-color: var(--modal-feature-bg-color);
}

.features {
  align-items: center;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 350px;
}

.feature {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3rem 1rem;
}

.featureInfo {
  margin-left: 20px;
}

.featuresList {
  width: 100%;
}

.motivation {
  padding: 50px 0;
}

@media (min-width: 600px) {
  .motivation {
    padding: 9.3rem 1rem;
  }
}

.headline {
  color: #fff;
}

.effects {
  background-color: var(--modal-effects-bg-color);
  height: 900px;
}

.effectsContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.effectsContent svg {
  flex-shrink: 0;
}

.effectsTitle {
  text-align: center;
  font-size: 3em;
  color: #fff;
}

.effectsTitle span {
  font-size: 160px;
  display: block;
  color: #f9b240;
  line-height: 160px;
  font-weight: 700;
}

.effectNamesDesktop {
  display: none;
}

.effectNamesTablet {
  display: none;
}

.effectNamesMobile {
  display: block;
}

/* Tablet */
@media (min-width: 768px) {
  .effectNamesTablet {
    display: block;
  }

  .effectNamesMobile {
    display: none;
  }
}

/* tablet landscape */
@media (min-width: 480px) {
  .effectNamesDesktop {
    display: block;
  }

  .effectNamesTablet {
    display: none;
  }
}
